$bg-color: #239288;
$calc-color: #ffffff;
$expression-color: #2ec4b6;
$operator-color: #bfece8;
$equal-color: #24968b;
$buttons-color: #f1f1f1;
$border-dark-color: #dddddd;
$border-light-color: #f0f0f0;
